@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    height: 100vh;
  }
  
  .ql-editor {
    font-size: 1.05rem;
  }
  
  .post-content p {
    margin-bottom: 0.5rem;
  }
  
  .post-content h1 {
    font-size: 2rem;
    font-weight: 600;
    font-family: sans-serif;
    margin: 1.5rem 0;
  }
  
  .post-content h2 {
    font-size: 1.9rem;
    font-family: sans-serif;
    margin: 1.5rem 0;
  }
  
  .post-content a {
    color: rgb(73, 149, 199);
    text-decoration: none;
  }
  
  .post-content a:hover {
    text-decoration: underline;
  }
  
  .dark .post-content a {
    color: red;
  }
  .group:hover .group-hover\\:opacity-100 {
    opacity: 1;
  }
  
  .transition-opacity {
    transition: opacity 0.3s;
  }
  